USE [master]
GO
/****** Object:  Database [Condominio]    Script Date: 25/11/2018 23:05:19 ******/
CREATE DATABASE [Condominio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Condominio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Condominio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Condominio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Condominio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Condominio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Condominio]
GO
USE [Condominio]
GO
/****** Object:  Table [dbo].[Administracao]    Script Date: 25/11/2018 23:05:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administracao](
	[CPF_CNPJ] [nvarchar](14) NOT NULL,
	[Senha] [nvarchar](20) NOT NULL,
	[Nome] [nvarchar](30) NOT NULL,
	[Condominio] [nchar](14) NOT NULL,
 CONSTRAINT [PK_Administracao] PRIMARY KEY CLUSTERED 
(
	[CPF_CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Condominio]    Script Date: 25/11/2018 23:05:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condominio](
	[CNPJ] [nchar](14) NOT NULL,
	[Nome] [nvarchar](30) NOT NULL,
	[Endereco] [nvarchar](50) NOT NULL,
	[Qtd_Apt] [int] NOT NULL,
	[Valor] [money] NOT NULL,
 CONSTRAINT [PK_Condominio] PRIMARY KEY CLUSTERED 
(
	[CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Condomino]    Script Date: 25/11/2018 23:05:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condomino](
	[CPF] [nchar](11) NOT NULL,
	[Senha] [nvarchar](20) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Condominio] [nchar](14) NOT NULL,
	[Apartamento] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Condomino] PRIMARY KEY CLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Debito]    Script Date: 25/11/2018 23:05:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debito](
	[CPF_Condomino] [nchar](11) NOT NULL,
	[CNPJ_Condominio] [nchar](14) NOT NULL,
	[Mes] [int] NOT NULL,
	[Valor] [money] NOT NULL,
	[Situacao] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Multa/Adicional]    Script Date: 25/11/2018 23:05:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multa/Adicional](
	[Id_Multa] [int] NOT NULL,
	[CNPJ_Condominio] [nchar](14) NOT NULL,
	[Nome] [nvarchar](30) NOT NULL,
	[Valor] [money] NOT NULL,
 CONSTRAINT [PK_Multa/Adicional] PRIMARY KEY CLUSTERED 
(
	[Id_Multa] ASC,
	[CNPJ_Condominio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administracao]  WITH CHECK ADD  CONSTRAINT [FK_Administracao_Condominio] FOREIGN KEY([Condominio])
REFERENCES [dbo].[Condominio] ([CNPJ])
GO
ALTER TABLE [dbo].[Administracao] CHECK CONSTRAINT [FK_Administracao_Condominio]
GO
ALTER TABLE [dbo].[Condomino]  WITH CHECK ADD  CONSTRAINT [FK_Condomino_Condominio] FOREIGN KEY([Condominio])
REFERENCES [dbo].[Condominio] ([CNPJ])
GO
ALTER TABLE [dbo].[Condomino] CHECK CONSTRAINT [FK_Condomino_Condominio]
GO
USE [master]
GO
